# FIFA WORLD CUP PREDICTION

In [1]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle

In [2]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [3]:
all_tables

[    0                                                  1
 0 NaN  This article documents a current FIFA World Cu...,
    كأس العالم لكرة القدم 2022Kaʾs al-ʿālam li-kurat al-qadam 2022  \
 0   .mw-parser-output .script-arabic{font-family:"...
 1                                  Tournament details
 2                                        Host country
 3                                               Dates
 4                                               Teams
 5                                            Venue(s)
 6                               Tournament statistics
 7                                      Matches played
 8                                        Goals scored
 9                                          Attendance
 10                                      Top scorer(s)
 11  ← 2018 2026 → All statistics correct as of 4 D...

    كأس العالم لكرة القدم 2022Kaʾs al-ʿālam li-kurat al-qadam 2022.1
 0   .mw-parser-output .script-arabic{font-family:"...
 1                                  Tournament details
 2                                               Qatar
 3                           20 November – 18 December
 4                          32 (from 5 confederations)
 5                                8 (in 5 host cities)
 6                               Tournament statistics
 7                                                  52
 8                                134 (2.58 per match)
 9                        2,653,911 (51,037 per match)
 10                            Kylian Mbappé (5 goals)
 11  ← 2018 2026 → All statistics correct as of 4 D...                ,
                             Place Amount (in millions)
                             Place             Per team Total
 0                       Champions                  $42   $42
 1                      Runners-up                  $30   $30
 2                     Third place                  $27   $27
 3                    Fourth place                  $25   $25
 4  5th–8th place (quarter-finals)                  $17   $68
 5    9th–16th place (Round of 16)                  $13  $104
 6   17th–32nd place (Group stage)                   $9  $144
 7                           Total                Total  $440,
          Bidders   Votes
          Bidders Round 1     Round 2     Round 3     Round 4
 0          Qatar      11          10          11          14
 1  United States       3           5           6           8
 2    South Korea       4           5           5  Eliminated
 3          Japan       3           2  Eliminated  Eliminated
 4      Australia       1  Eliminated  Eliminated  Eliminated,
                                                    0  \
 0  AFC (6)  Australia (38)  Iran (20)  Japan (24)...

                                                    1  \
 0  CONCACAF (4)  Canada (41)  Costa Rica (31)  Me...

                                                    2  \
 0  UEFA (13)  Belgium (2)  Croatia (12)  Denmark ...

                                                    3
 0  .mw-parser-output .legend{page-break-inside:av...  ,
                                                Pot 1  \
 0  Qatar (51) (hosts)  Brazil (1)  Belgium (2)  F...

                                                Pot 2  \
 0  Mexico (9)  Netherlands (10)  Denmark (11)  Ge...

                                                Pot 3  \
 0  Senegal (20)  Iran (21)  Japan (23)  Morocco (...

                                                Pot 4
 0  Cameroon (37)  Canada (38)  Ecuador (46)  Saud...  ,
                                               Lusail  \
 0                              Lusail Iconic Stadium
 1                         Capacity: 88,966[122][123]
 2                                                NaN
 3  Host cities in Qatar.mw-parser-output .locmap ...
 4                                          Al Rayyan
 5                      Khalifa International Stadium
 6                         Capacity: 45,857[130][131]
 7                                                NaN

                                              Al Khor  \
 0                                    Al Bayt Stadium
 1                         Capacity: 68,895[124][125]
 2                                                NaN
 3  Host cities in Qatar.mw-parser-output .locmap ...
 4                                          Al Rayyan
 5       Ahmad bin Ali Stadium[H] (Al Rayyan Stadium)
 6                      Capacity: 45,032[132][133][I]
 7                                                NaN

                                                 Doha  \
 0                                 Al Thumama Stadium
 1                         Capacity: 44,400[126][127]
 2                                                NaN
 3  Stadiums in Doha areaEducation974KhalifaAl Thu...
 4                                          Al Rayyan
 5                             Education City Stadium
 6                         Capacity: 44,667[134][135]
 7                                                NaN

                                               Doha.1
 0                                        Stadium 974
 1                         Capacity: 44,089[128][129]
 2                                                NaN
 3  Stadiums in Doha areaEducation974KhalifaAl Thu...
 4                                          Al Wakrah
 5                                  Al Janoub Stadium
 6                         Capacity: 44,325[136][137]
 7                                                NaN  ,
              Team                                              Hotel  \
 0       Argentina                          Qatar University Hostel 1
 1       Australia           New Aspire Academy Athlete Accommodation
 2         Belgium               Hilton Salwa Beach Resort and Villas
 3          Brazil                      The Westin Doha Hotel and Spa
 4        Cameroon            Banyan Tree Doha at La Cigale Mushaireb
 5          Canada                        Century Marina Hotel Lusail
 6      Costa Rica                                 dusitD2 Salwa Doha
 7         Croatia                                        Hilton Doha
 8         Denmark                           Retaj Salwa Resort & SPA
 9         Ecuador                            Hyatt Regency Oryx Doha
 10        England                Souq Al Wakra Hotel Qatar by Tivoli
 11         France  Al Messila – A Luxury Collection Resort & Spa,...
 12        Germany                              Zulal Wellness Resort
 13          Ghana                DoubleTree by Hilton Doha – Al Sadd
 14           Iran    Al Rayyan Hotel Doha Curio Collection by Hilton
 15          Japan                            Radisson Blu Hotel Doha
 16         Mexico                          Simaisma, A Murwab Resort
 17        Morocco                              Wyndham Doha West Bay
 18    Netherlands                                 The St. Regis Doha
 19         Poland                                 Ezdan Palace Hotel
 20       Portugal              Al Samriya Autograph Collection Hotel
 21          Qatar                         Al Aziziyah Boutique Hotel
 22   Saudi Arabia                     Sealine Beach, a Murwab Resort
 23        Senegal                        Duhail Handball Sports Hall
 24         Serbia                              Rixos Gulf Hotel Doha
 25    South Korea                       Le Méridien City Center Doha
 26          Spain                          Qatar University Hostel 2
 27    Switzerland                            Le Royal Méridien, Doha
 28        Tunisia                  Wyndham Grand Doha West Bay Beach
 29  United States            Marsa Malaz Kempinski, The Pearl – Doha
 30        Uruguay                              Pullman Doha West Bay
 31          Wales                      Delta Hotels City Center Doha

                                         Training site
 0                    Qatar University Training Site 3
 1                   Aspire Zone Training Facilities 5
 2                                 Salwa Training Site
 3                                 Al Arabi SC Stadium
 4                               Al Sailiya SC Stadium
 5                    Umm Salal SC Training Facilities
 6                                  Al Ahli SC Stadium
 7                            Al Ersal Training Site 3
 8                                     Al Sailiya SC 2
 9                    Mesaimeer SC Training Facilities
 10                               Al Wakrah SC Stadium
 11                                 Al Sadd SC Stadium
 12                               Al Shamal SC Stadium
 13                  Aspire Zone Training Facilities 1
 14                 Al Rayyan SC Training Facilities 1
 15               Al Sadd SC New Training Facilities 1
 16                                 Al Khor SC Stadium
 17                               Al Duhail SC Stadium
 18                   Qatar University Training Site 6
 19              Al Kharaitiyat SC Training Facilities
 20                Al Shahaniya SC Training Facilities
 21                  Aspire Zone Training Facilities 3
 22                              Sealine Training Site
 23                                     Al Duhail SC 2
 24                    Al Arabi SC Training Facilities
 25                            Al Egla Training Site 5
 26                   Qatar University Training Site 1
 27  University of Doha for Science and Technology ...
 28                           Al Egla Training Sites 3
 29                              Al Gharafa SC Stadium
 30                           Al Ersal Training Site 1
 31               Al Sadd SC New Training Facilities 2  ,
                 Tie-breaking criteria for group play
 0  The ranking of teams in the group stage was de...,
    Pos  \
 0    1
 1    2
 2    3
 3    4

   Team.mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vte  \
 0                                        Netherlands
 1                                            Senegal
 2                                            Ecuador
 3                                          Qatar (H)

    Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    3  2  1  0   5   1  +4    7  Advanced to knockout stage
 1    3  2  0  1   5   4  +1    6  Advanced to knockout stage
 2    3  1  1  1   4   3  +1    4                         NaN
 3    3  0  0  3   1   7  −6    0                         NaN  ,
    Qatar     0–2                                            Ecuador
 0    NaN  Report  Valencia .mw-parser-output .fb-goal>span{font-...,
    Senegal     0–2               Netherlands
 0      NaN  Report  Gakpo 84' Klaassen 90+9',
          Qatar     1–3                            Senegal
 0  Muntari 78'  Report  Dia 41' Diédhiou 48' B. Dieng 84',
   Netherlands     1–1       Ecuador
 0    Gakpo 6'  Report  Valencia 49',
        Ecuador     1–2                           Senegal
 0  Caicedo 67'  Report  I. Sarr 44' (pen.) Koulibaly 70',
                 Netherlands     2–0  Qatar
 0  Gakpo 26' F. de Jong 49'  Report    NaN,
    Pos        Teamvte  Pld  W  D  L  GF  GA  GD  Pts  \
 0    1        England    3  2  1  0   9   2  +7    7
 1    2  United States    3  1  2  0   2   1  +1    5
 2    3           Iran    3  1  0  2   4   7  −3    3
 3    4          Wales    3  0  1  2   1   6  −5    1

                 Qualification
 0  Advanced to knockout stage
 1  Advanced to knockout stage
 2                         NaN
 3                         NaN  ,
                                              England     6–2  \
 0  Bellingham 35' Saka 43', 62' Sterling 45+1' Ra...  Report

                         Iran
 0  Taremi 65', 90+13' (pen.)  ,
   United States     1–1            Wales
 0      Weah 36'  Report  Bale 82' (pen.),
    Wales     0–2                           Iran
 0    NaN  Report  Cheshmi 90+8' Rezaeian 90+11',
    England     0–0  United States
 0      NaN  Report            NaN,
    Wales     0–3                      England
 0    NaN  Report  Rashford 50', 68' Foden 51',
    Iran     0–1 United States
 0   NaN  Report   Pulisic 38',
    Pos       Teamvte  Pld  W  D  L  GF  GA  GD  Pts  \
 0    1     Argentina    3  2  0  1   5   2  +3    6
 1    2        Poland    3  1  1  1   2   2   0    4
 2    3        Mexico    3  1  1  1   2   3  −1    4
 3    4  Saudi Arabia    3  1  0  2   3   5  −2    3

                 Qualification
 0  Advanced to knockout stage
 1  Advanced to knockout stage
 2                         NaN
 3                         NaN  ,
           Argentina     1–2                     Saudi Arabia
 0  Messi 10' (pen.)  Report  Al-Shehri 48' S. Al-Dawsari 53',
    Mexico     0–0  Poland
 0     NaN  Report     NaN,
                           Poland     2–0  Saudi Arabia
 0  Zieliński 39' Lewandowski 82'  Report           NaN,
                  Argentina     2–0  Mexico
 0  Messi 64' Fernández 87'  Report     NaN,
    Poland     0–2                     Argentina
 0     NaN  Report  Mac Allister 46' Álvarez 67',
           Saudi Arabia     1–2                 Mexico
 0  S. Al-Dawsari 90+5'  Report  Martín 47' Chávez 52',
    Pos    Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1     France    3  2  0  1   6   3  +3    6  Advanced to knockout stage
 1    2  Australia    3  2  0  1   3   4  −1    6  Advanced to knockout stage
 2    3    Tunisia    3  1  1  1   1   1   0    4                         NaN
 3    4    Denmark    3  0  1  2   1   3  −2    1                         NaN,
    Denmark     0–0  Tunisia
 0      NaN  Report      NaN,
                                   France     4–1   Australia
 0  Rabiot 27' Giroud 32', 71' Mbappé 68'  Report  Goodwin 9',
    Tunisia     0–1 Australia
 0      NaN  Report  Duke 23',
             France     2–1             Denmark
 0  Mbappé 61', 86'  Report  A. Christensen 68',
     Australia     1–0  Denmark
 0  Leckie 60'  Report      NaN,
       Tunisia     1–0  France
 0  Khazri 58'  Report     NaN,
    Pos     Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1       Japan    3  2  0  1   4   3  +1    6  Advanced to knockout stage
 1    2       Spain    3  1  1  1   9   3  +6    4  Advanced to knockout stage
 2    3     Germany    3  1  1  1   6   5  +1    4                         NaN
 3    4  Costa Rica    3  1  0  2   3  11  −8    3                         NaN,
                Germany     1–2               Japan
 0  Gündoğan 33' (pen.)  Report  Dōan 75' Asano 83',
                                                Spain     7–0  Costa Rica
 0  Olmo 11' Asensio 21' F. Torres 31' (pen.), 54'...  Report         NaN,
    Japan     0–1  Costa Rica
 0    NaN  Report  Fuller 81',
         Spain     1–1       Germany
 0  Morata 62'  Report  Füllkrug 83',
                  Japan     2–1       Spain
 0  Dōan 48' Tanaka 51'  Report  Morata 11',
               Costa Rica     2–4                                   Germany
 0  Tejeda 58' Vargas 70'  Report  Gnabry 10' Havertz 73', 85' Füllkrug 89',
    Pos  Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1  Morocco    3  2  1  0   4   1  +3    7  Advanced to knockout stage
 1    2  Croatia    3  1  2  0   4   1  +3    5  Advanced to knockout stage
 2    3  Belgium    3  1  1  1   1   2  −1    4                         NaN
 3    4   Canada    3  0  0  3   2   7  −5    0                         NaN,
    Morocco     0–0  Croatia
 0      NaN  Report      NaN,
          Belgium     1–0  Canada
 0  Batshuayi 44'  Report     NaN,
    Belgium     0–2                    Morocco
 0      NaN  Report  Saïss 73' Aboukhlal 90+2',
                                     Croatia     4–1     Canada
 0  Kramarić 36', 70' Livaja 44' Majer 90+4'  Report  Davies 2',
    Croatia     0–0  Belgium
 0      NaN  Report      NaN,
               Canada     1–2                  Morocco
 0  Aguerd 40' (o.g.)  Report  Ziyech 4' En-Nesyri 23',
    Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1       Brazil    3  2  0  1   3   1  +2    6  Advanced to knockout stage
 1    2  Switzerland    3  2  0  1   4   3  +1    6  Advanced to knockout stage
 2    3     Cameroon    3  1  1  1   4   4   0    4                         NaN
 3    4       Serbia    3  0  1  2   5   8  −3    1                         NaN,
   Switzerland     1–0  Cameroon
 0  Embolo 48'  Report       NaN,
                  Brazil     2–0  Serbia
 0  Richarlison 62', 73'  Report     NaN,
                                           Cameroon     3–3  \
 0  Castelletto 29' Aboubakar 63' Choupo-Moting 66'  Report

                                               Serbia
 0  Pavlović 45+1' S. Milinković-Savić 45+3' A. Mi...  ,
          Brazil     1–0  Switzerland
 0  Casemiro 83'  Report          NaN,
                          Serbia     2–3                         Switzerland
 0  A. Mitrović 26' Vlahović 35'  Report  Shaqiri 20' Embolo 44' Freuler 48',
           Cameroon     1–0  Brazil
 0  Aboubakar 90+2'  Report     NaN,
    Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
 0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
 1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
 2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
 3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN,
    Uruguay     0–0  South Korea
 0      NaN  Report          NaN,
                                 Portugal     3–2                   Ghana
 0  Ronaldo 65' (pen.) Félix 78' Leão 80'  Report  A. Ayew 73' Bukari 89',
              South Korea     2–3                      Ghana
 0  Cho Gue-sung 58', 61'  Report  Salisu 24' Kudus 34', 68',
                       Portugal     2–0  Uruguay
 0  Fernandes 54', 90+3' (pen.)  Report      NaN,
    Ghana     0–2                 Uruguay
 0    NaN  Report  De Arrascaeta 26', 32',
                                South Korea     2–1  Portugal
 0  Kim Young-gwon 27' Hwang Hee-chan 90+1'  Report  Horta 5',
     0                                       1   \
 0  NaN                             Round of 16
 1  NaN                                     NaN
 2  NaN        3 December – Al Rayyan (Khalifa)
 3  NaN        3 December – Al Rayyan (Khalifa)
 4  NaN                             Netherlands
 5  NaN                             Netherlands
 6  NaN                           United States
 7  NaN                           United States
 8  NaN  3 December – Al Rayyan (Ahmad bin Ali)
 9  NaN  3 December – Al Rayyan (Ahmad bin Ali)
 10 NaN                               Argentina
 11 NaN                               Argentina
 12 NaN                               Australia
 13 NaN                               Australia
 14 NaN                  5 December – Al Wakrah
 15 NaN                  5 December – Al Wakrah
 16 NaN                                   Japan
 17 NaN                                   Japan
 18 NaN                                 Croatia
 19 NaN                                 Croatia
 20 NaN                 5 December – Doha (974)
 21 NaN                 5 December – Doha (974)
 22 NaN                                  Brazil
 23 NaN                                  Brazil
 24 NaN                             South Korea

In [4]:
all_tables[9]
all_tables[16]
all_tables[23]
all_tables[30]
all_tables[37]
all_tables[44]
all_tables[51]
all_tables[58]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [5]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [6]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_table = {}
for letter, i in zip(alphabet, range(9,65,7)):
    df=all_tables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True)
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [7]:
dict_table.keys()

dict_keys(['Group A', 'Group B', 'Group C', 'Group D', 'Group E', 'Group F', 'Group G', 'Group H'])

In [8]:
dict_table['Group A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  2  1  0   5   1  +4    7
1    2      Senegal    3  2  0  1   5   4  +1    6
2    3      Ecuador    3  1  1  1   4   3  +1    4
3    4    Qatar (H)    3  0  0  3   1   7  −6    0

In [9]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)

In [10]:
years = [1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,1978,1982,1986,1990,1994,1998,2002,2006,2010,2014,2018]

In [11]:
from bs4 import BeautifulSoup
import requests

In [12]:
def get_matches(year):
    web = f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'    
    response = requests.get(web)
    content =(response.text)
    soup = BeautifulSoup(content, 'lxml')
    matches = soup.find_all('div', class_='footballbox')
    
    home = []
    score = []
    away = []
    for match in matches: 
        home.append(match.find('th', class_='fhome').get_text())
        score.append(match.find('th', class_='fscore').get_text())
        away.append(match.find('th', class_='faway').get_text())
    
    dict_football = {'home': home, 'score':score, 'away': away}
    df_football = pd.DataFrame(dict_football)
    df_football['year'] = year
    return df_football

fifa = [get_matches(year) for year in years]
df_fifa = pd.concat(fifa, ignore_index=True)
df_fifa.to_csv('fifa_worldcup_historical_data.csv', index = False)

#fixture
df_fixture = get_matches(2022)
df_fixture.to_csv('fifa_worldcup_fixture.csv', index = False)

In [13]:
#Data Cleaning

In [14]:
df_fixture = pd.read_csv('fifa_worldcup_fixture.csv')

In [15]:
df_fixture['home'] = df_fixture['home'].str.strip()
df_fixture['away'] = df_fixture['away'].str.strip()

In [16]:
df_world = pd.read_csv('fifa_worldcup_historical_data.csv')

In [17]:
df_world.sort_values('year', inplace = True)

In [18]:
df_world

           home score            away  year
0       France    4–1          Mexico  1930
17     Uruguay    4–2       Argentina  1930
16     Uruguay    6–1      Yugoslavia  1930
15   Argentina    6–1   United States  1930
14    Paraguay    1–0         Belgium  1930
..          ...   ...             ...   ...
563     Brazil    2–0      Costa Rica  2018
564     Serbia    1–2     Switzerland  2018
565     Serbia    0–2          Brazil  2018
567    Germany    0–1          Mexico  2018
600     France    4–2         Croatia  2018

[601 rows x 4 columns]

In [19]:
#Deleting match with walk over
delete_index = df_world[df_world['home'].str.contains('Sweden')& df_world['away'].str.contains('Austria')].index

In [20]:
df_world.drop(index=delete_index, inplace=True)

In [21]:
#columns scores with not only digits and "-"-->[^]: Matches charaters not in brackets(regrex)
df_world['score'] = df_world['score'].str.replace('[^\d-]', '-', regex =True)

In [22]:
#Cleaning score and home/away columns 
df_world['home'] = df_world['home'].str.strip()
df_world['away'] = df_world['away'].str.strip()

In [23]:
#Splitting score columns into home and away goals
df_world[['HomeGoals', 'AwayGoals',2,3,4,5,6,7,8,9,10]] = df_world['score'].str.split('-', expand = True)

In [24]:
df_world.drop(['score',2,3,4,5,6,7,8,9,10], axis = 1, inplace = True)

In [25]:
df_world

          home           away  year HomeGoals AwayGoals
0       France         Mexico  1930         4         1
17     Uruguay      Argentina  1930         4         2
16     Uruguay     Yugoslavia  1930         6         1
15   Argentina  United States  1930         6         1
14    Paraguay        Belgium  1930         1         0
..         ...            ...   ...       ...       ...
563     Brazil     Costa Rica  2018         2         0
564     Serbia    Switzerland  2018         1         2
565     Serbia         Brazil  2018         0         2
567    Germany         Mexico  2018         0         1
600     France        Croatia  2018         4         2

[600 rows x 5 columns]

In [26]:
#rename columns and changing data types 
df_world.rename(columns={'home':'HomeTeam', 'away':'AwayTeam', 'year':'Year'},inplace=True)
df_world = df_world.astype({'HomeGoals': int, 'AwayGoals':int, 'Year':int})

In [27]:
df_world.dtypes

HomeTeam     object
AwayTeam     object
Year          int32
HomeGoals     int32
AwayGoals     int32
dtype: object

In [28]:
#Creating new column "totalgoals"
df_world['TotalGoals'] = df_world['HomeGoals'] + df_world['AwayGoals']

In [29]:
df_world

      HomeTeam       AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0       France         Mexico  1930          4          1           5
17     Uruguay      Argentina  1930          4          2           6
16     Uruguay     Yugoslavia  1930          6          1           7
15   Argentina  United States  1930          6          1           7
14    Paraguay        Belgium  1930          1          0           1
..         ...            ...   ...        ...        ...         ...
563     Brazil     Costa Rica  2018          2          0           2
564     Serbia    Switzerland  2018          1          2           3
565     Serbia         Brazil  2018          0          2           2
567    Germany         Mexico  2018          0          1           1
600     France        Croatia  2018          4          2           6

[600 rows x 6 columns]

In [30]:
#Exporting clean dataframe

df_world.to_csv('cleanFifa_worldcup_matches.csv', index = False)
df_fixture.to_csv('cleanFifa_worlcup_fixture.csv', index =False)

In [31]:
#Extra verifications 

years = [1930,1934,1938,1950,1954,1958,1962,1966,1970,1974,1978,1982,1986,1990,1994,1998,2002,2006,2010,2014,2018]

for year in years:
    print(year, len(df_world[df_world['Year']==year]))

1930 18
1934 17
1938 18
1950 22
1954 26
1958 35
1962 32
1966 32
1970 8
1974 2
1978 2
1982 4
1986 16
1990 16
1994 16
1998 16
2002 64
2006 64
2010 64
2014 64
2018 64

In [32]:
#split df into df_home and df_away
df_home = df_world[['HomeTeam', 'HomeGoals', 'AwayGoals']]
df_away = df_world[['AwayTeam', 'HomeGoals', 'AwayGoals']]

In [33]:
#rename columns
df_home = df_home.rename(columns={'HomeTeam':'Team', 'HomeGoals': 'GoalsScored', 'AwayGoals':'GoalsConceded'})
df_away = df_away.rename(columns={'AwayTeam':'Team', 'HomeGoals': 'GoalsConceded', 'AwayGoals':'GoalsScored'})

In [34]:
#concat df_home and df_away, group by team and calculate the mean
df_team_strength = pd.concat([df_home, df_away], ignore_index = True).groupby('Team').mean()
df_team_strength

               GoalsScored  GoalsConceded
Team
Algeria           1.000000       1.285714
Angola            0.333333       0.666667
Argentina         1.653846       1.230769
Australia         1.000000       2.000000
Austria           2.166667       2.166667
...                    ...            ...
United States     1.291667       1.916667
Uruguay           1.818182       1.295455
Wales             0.800000       0.800000
West Germany      2.194444       1.500000
Yugoslavia        1.666667       1.333333

[75 rows x 2 columns]

In [35]:
from scipy.stats import poisson

In [36]:
#Fucntion predict_points
def predict_points(home, away):
    if home in df_team_strength.index and away in df_team_strength.index:
        #goal_scored * goals_conceded
        lamb_home = df_team_strength.at[home, 'GoalsScored'] * df_team_strength.at[away, 'GoalsConceded']
        lamb_away = df_team_strength.at[away, 'GoalsScored'] * df_team_strength.at[home, 'GoalsConceded']
        prob_home, prob_away, prob_draw = 0,0,0
        for x in range(0,11): #number of goals home team
            for y in range(0,11): #number of goals away team
                p = poisson.pmf(x, lamb_home) * poisson.pmf(y, lamb_away)
                if x==y:
                    prob_draw += p
                elif x>y: 
                    prob_away += p
                else: 
                    prob_away += p
                    
        points_home = 3 * prob_home + prob_draw
        points_away = 3 * prob_away + prob_draw
        return(points_home, points_away)
    else: 
        return(0,0)

In [37]:
predict_points('France', 'Australia' )

(0.11574247778703714, 2.765712203385609)

In [38]:
df_fixture_group_48 = df_fixture[:48].copy()

In [39]:
df_fixture_group_48

             home score           away  year
0           Qatar   0–2        Ecuador  2022
1         Senegal   0–2    Netherlands  2022
2           Qatar   1–3        Senegal  2022
3     Netherlands   1–1        Ecuador  2022
4         Ecuador   1–2        Senegal  2022
5     Netherlands   2–0          Qatar  2022
6         England   6–2           Iran  2022
7   United States   1–1          Wales  2022
8           Wales   0–2           Iran  2022
9         England   0–0  United States  2022
10          Wales   0–3        England  2022
11           Iran   0–1  United States  2022
12      Argentina   1–2   Saudi Arabia  2022
13         Mexico   0–0         Poland  2022
14         Poland   2–0   Saudi Arabia  2022
15      Argentina   2–0         Mexico  2022
16         Poland   0–2      Argentina  2022
17   Saudi Arabia   1–2         Mexico  2022
18        Denmark   0–0        Tunisia  2022
19         France   4–1      Australia  2022
20        Tunisia   0–1      Australia  2022
21         France   2–1        Denmark  2022
22      Australia   1–0        Denmark  2022
23        Tunisia   1–0         France  2022
24        Germany   1–2          Japan  2022
25          Spain   7–0     Costa Rica  2022
26          Japan   0–1     Costa Rica  2022
27          Spain   1–1        Germany  2022
28          Japan   2–1          Spain  2022
29     Costa Rica   2–4        Germany  2022
30        Morocco   0–0        Croatia  2022
31        Belgium   1–0         Canada  2022
32        Belgium   0–2        Morocco  2022
33        Croatia   4–1         Canada  2022
34        Croatia   0–0        Belgium  2022
35         Canada   1–2        Morocco  2022
36    Switzerland   1–0       Cameroon  2022
37         Brazil   2–0         Serbia  2022
38       Cameroon   3–3         Serbia  2022
39         Brazil   1–0    Switzerland  2022
40         Serbia   2–3    Switzerland  2022
41       Cameroon   1–0         Brazil  2022
42        Uruguay   0–0    South Korea  2022
43       Portugal   3–2          Ghana  2022
44    South Korea   2–3          Ghana  2022
45       Portugal   2–0        Uruguay  2022
46          Ghana   0–2        Uruguay  2022
47    South Korea   2–1       Portugal  2022

In [40]:
#Splitting fixture into group, knock out, quarter
df_fixture_quarter = df_fixture[56:60].copy()
df_fixture_knockout = df_fixture[48:56].copy()
df_fixture_quarter = df_fixture[56:60].copy()
df_fixture_semi= df_fixture[60:62].copy()
df_fixture_final = df_fixture[62:].copy()

In [41]:
df_fixture_quarter

                home     score              away  year
56  Winners Match 53  Match 58  Winners Match 54  2022
57       Netherlands  Match 57         Argentina  2022
58  Winners Match 55  Match 60  Winners Match 56  2022
59           England  Match 59            France  2022

In [42]:
dict_table['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    3  2  0  1   6   4  +2    6
1    2  South Korea    3  1  1  1   4   4   0    4
2    3      Uruguay    3  1  1  1   2   2   0    4
3    4        Ghana    3  1  0  2   5   7  −2    3

In [43]:
for group in dict_table: 
    teams_in_group = dict_table[group]['Team'].values
    df_fixture_group_6 = df_fixture_group_48[df_fixture_group_48['home'].isin(teams_in_group)]
    for index, row in df_fixture_group_6.iterrows():
        home, away = row['home'], row['away']
        points_home, points_away = predict_points(home,away)
        dict_table[group].loc[dict_table[group]['Team'] == home, 'Pts'] += points_home
        dict_table[group].loc[dict_table[group]['Team'] == away, 'Pts'] += points_away
        
    dict_table[group]  = dict_table[group].sort_values('Pts', ascending=False). reset_index()
    dict_table[group] = dict_table[group][['Team', 'Pts']]
    dict_table[group] = dict_table[group].round(0)

In [44]:
dict_table['Group C']

           Team   Pts
0        Mexico  10.0
1     Argentina   9.0
2  Saudi Arabia   9.0
3        Poland   7.0

In [45]:
#Knock Out

df_fixture_knockout

           home     score           away  year
48  Netherlands       3–1  United States  2022
49    Argentina       2–1      Australia  2022
50       France       3–1         Poland  2022
51      England       3–0        Senegal  2022
52        Japan  Match 53        Croatia  2022
53       Brazil  Match 54    South Korea  2022
54      Morocco  Match 55          Spain  2022
55     Portugal  Match 56    Switzerland  2022

In [51]:
#Update the knock out fixture with group winner and ruuners up
for group in dict_table: 
    group_winner = dict_table[group].loc[0, 'Team']
    runners_up = dict_table[group].loc[1, 'Team']
    
    df_fixture_knockout.replace({f'Winners {group}': group_winner, f'Runners_up {group}': runners_up}, inplace = True)
    
df_fixture_knockout['winner'] = '?'
df_fixture_knockout

           home     score           away    year winner
48  Netherlands       3–1  United States  2022.0      ?
49    Argentina       2–1      Australia  2022.0      ?
50       France       3–1         Poland  2022.0      ?
51      England       3–0        Senegal  2022.0      ?
52        Japan  Match 53        Croatia  2022.0      ?
53       Brazil  Match 54    South Korea  2022.0      ?
54      Morocco  Match 55          Spain  2022.0      ?
55     Portugal  Match 56    Switzerland  2022.0      ?
47          NaN       NaN            NaN     NaN      ?

In [53]:
#Create get_winner function 
def get_winner (df_fixture_updated):
    for index,row in df_fixture_updated.iterrows():
        home, away = row['home'], row['away']
        points_home , points_away = predict_points(home, away)
        if points_home > points_away:
            winner = home
        else:
            winner = away 
        df_fixture_updated.loc[index, 'winner'] = winner
    return df_fixture_updated

In [49]:
get_winner(df_fixture_knockout)

           home     score           away    year    winner
48  Netherlands       3–1  United States  2022.0         ?
49    Argentina       2–1      Australia  2022.0         ?
50       France       3–1         Poland  2022.0         ?
51      England       3–0        Senegal  2022.0         ?
52        Japan  Match 53        Croatia  2022.0         ?
53       Brazil  Match 54    South Korea  2022.0         ?
54      Morocco  Match 55          Spain  2022.0         ?
55     Portugal  Match 56    Switzerland  2022.0         ?
47          NaN       NaN            NaN     NaN  Portugal

In [54]:
df_fixture_quarter

                home     score              away  year
56  Winners Match 53  Match 58  Winners Match 54  2022
57       Netherlands  Match 57         Argentina  2022
58  Winners Match 55  Match 60  Winners Match 56  2022
59           England  Match 59            France  2022

In [59]:
#create update_table functio 

def update_table(df_fixture_round_1, df_fixture_round_2):
    for index, roww in df_fixture_round_1.iterrows():
        winner = df_fixture_round_1.loc[index, 'winner']
        match = df_fixture_round_1.loc[index, 'score']
        df_fixture_round_2['winner'] = '?'
        return df_fixture_round_2

In [61]:
update_table(df_fixture_knockout, df_fixture_quarter)

                home     score              away  year winner
56  Winners Match 53  Match 58  Winners Match 54  2022      ?
57       Netherlands  Match 57         Argentina  2022      ?
58  Winners Match 55  Match 60  Winners Match 56  2022      ?
59           England  Match 59            France  2022      ?

In [62]:
get_winner(df_fixture_quarter)

                home     score              away  year            winner
56  Winners Match 53  Match 58  Winners Match 54  2022  Winners Match 54
57       Netherlands  Match 57         Argentina  2022         Argentina
58  Winners Match 55  Match 60  Winners Match 56  2022  Winners Match 56
59           England  Match 59            France  2022            France

In [64]:
#Semifinal
update_table(df_fixture_quarter, df_fixture_semi)

                home     score              away  year winner
60  Winners Match 57  Match 61  Winners Match 58  2022      ?
61  Winners Match 59  Match 62  Winners Match 60  2022      ?

In [65]:
get_winner(df_fixture_semi)

                home     score              away  year            winner
60  Winners Match 57  Match 61  Winners Match 58  2022  Winners Match 58
61  Winners Match 59  Match 62  Winners Match 60  2022  Winners Match 60

In [66]:
#Final

update_table(df_fixture_semi, df_fixture_final)

                home     score              away  year winner
62   Losers Match 61  Match 63   Losers Match 62  2022      ?
63  Winners Match 61  Match 64  Winners Match 62  2022      ?

In [67]:
get_winner(df_fixture_final)

                home     score              away  year            winner
62   Losers Match 61  Match 63   Losers Match 62  2022   Losers Match 62
63  Winners Match 61  Match 64  Winners Match 62  2022  Winners Match 62